body {}

svg {
    z-index: 10;
}

.sec {
    background: url(../img/11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.head {
    font-family: 'Bellefair', serif;
    /*    background: #1f1f1f;*/
    width: 100%;
    min-width: 100%;
}

.head h3 {
    color: white;
    font-family: 'Eczar', serif;
}

.card {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15), 0 4px 20px 0 rgba(0, 0, 0, 0.22);
    max-width: 250px;
    overflow: hidden;
    background-color: #ff8122;
    font-family: 'Eczar', serif;
}

#info img {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
}

.info h2 {
    color: white;
    text-decoration: none;
    text-decoration-line: none;
}

#counter {
    text-align: center;
    color: red;
}

.events {
    text-align: center;
    font-family: 'Spectral', serif;
    font-size: 60px;
    letter-spacing: 3px;
}

.ppt {
    opacity: 0.8;
    margin: 0px;
    /*    position: absolute;*/
    max-height: 55%;
    min-width: 100%;
}

.ppt h1 {
    font-family: 'Spectral', serif;
    text-align: center;
    font-size: 50px;
    color: #ffe200;
}

.ppt h2 {
    text-align: center;
    font-size: 30px;
    color: #fd0000;
    font-family: 'Eczar', serif;
}

.ppt p {
    color: white;
}

.roborace h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 50px;
    color: red;
}

.jam h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 50px;
    color: red;
}

.quiz h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 50px;
    color: red;
}

.conn h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 50px;
    color: red;
}

.roborace p {
    text-align: left;
}

.overlay-bg {
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(38, 38, 38, 0.8);
    top: 0;
}

.overlay-bg.gradient-blue-aqua {
    background: -moz-linear-gradient(45deg, rgba(2, 68, 129, 0.9) 0%, rgba(52, 176, 188, 0.8) 100%);
    background: -webkit-linear-gradient(45deg, rgba(2, 68, 129, 0.9) 0%, rgba(52, 176, 188, 0.8) 100%);
    background: linear-gradient(45deg, rgba(2, 68, 129, 0.9) 0%, rgba(52, 176, 188, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc024481', endColorstr='#cc34b0bc', GradientType=1);
}

.full-height .overlay-bg {
    display: table;
}
