body {
    overflow-x: hidden;
}

svg {
    z-index: 10;
}

.sec {
    position: relative;
    background: url(../img/11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-ppt {
    background: url(../img/ppt2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.head {
    font-family: 'Bellefair', serif;
    /*    background: #1f1f1f;*/
    width: 100%;
    min-width: 100%;
}

.head h3 {
    color: white;
    font-family: 'Eczar', serif;
}

.card {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15), 0 4px 20px 0 rgba(0, 0, 0, 0.22);
    background-color: aliceblue;
}

#info img {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
}

.info h2 {
    color: white;
    text-decoration: none;
    text-decoration-line: none;
}

#counter {
    text-align: center;
    color: red;
}

.events {
    text-align: center;
    font-family: 'Spectral', serif;
    font-size: 60px;
    letter-spacing: 3px;
    margin: 0px;
    padding: 10px;
    background-image: url("../img/tex.jpg");
}

.ppt {
    opacity: 0.8;
    margin: 0px;
    max-height: 55%;
    min-width: 100%;
}

.ppt p {
    padding: 0px 75px;
}

@media only screen and (max-width: 700px) {
    .ppt p {
        padding: 0px 20px;
    }
}

.ppt h1 {
    font-family: 'Spectral', serif;
    text-align: center;
    font-size: 50px;
    color: #157F1F;
}

.ppt h2 {
    text-align: center;
    font-size: 30px;
    color: rgb(62, 114, 255);
    font-family: 'Eczar', serif;
}

.ppt p {
    color: white;
}


/*
.roborace h2 {
    background: url("../img/bot.png") no-repeat center; 
}
*/


/*
.roborace img {
    max-height: 100px;
    max-width: 100px;
}*/

.roborace h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 50px;
    color: red;
}

.jam h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 50px;
    color: red;
}

.quiz h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 50px;
    color: red;
}

.conn h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 50px;
    color: red;
}

.roborace p {
    text-align: left;
}

.overlay-bg {
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(38, 38, 38, 0.8);
    top: 0;
}

.overlay-bg.gradient-blue-aqua {
    background: -moz-linear-gradient(45deg, rgba(2, 68, 129, 0.9) 0%, rgba(52, 176, 188, 0.8) 100%);
    background: -webkit-linear-gradient(45deg, rgba(2, 68, 129, 0.9) 0%, rgba(52, 176, 188, 0.8) 100%);
    background: linear-gradient(45deg, rgba(2, 68, 129, 0.9) 0%, rgba(52, 176, 188, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc024481', endColorstr='#cc34b0bc', GradientType=1);
}

.full-height .overlay-bg {
    display: table;
}

.social {
    margin: 0px;
    background: url(../img/flat.gif);
    background-origin: inherit;
}

.pad a {
    padding: 0px 40px;
}

@media only screen and (min-width: 400px) {
    .pad a {
        padding: 0px 0px;
    }
}

.register {
    margin: 5px;
/*        max-width: 500px;*/
    font-family: 'Catamaran', sans-serif;
}

.register .row {

}

.register h5 {
    padding: 10px;
    color: white;
    border-color: rgba(0, 51, 188, 0.88);
    max-width: 100px;
    background-color: rgba(0, 69, 255, 0.78);
}

.register h5:hover {
    padding: 10px;
    max-width: 100px;
    background-color: rgba(0, 51, 188, 0.88);
    color: white;
}


/* ================ The Timeline ================ */

.timeline {
    /*    margin-left: 500px;*/
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 15px;
    height: 100%;
    margin-left: -10px;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(0, 0, 0) 0%, rgb(80, 80, 80) 100%, rgba(80, 80, 80, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 0, 0)), color-stop(100%, rgb(0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(0, 0, 0) 0%, rgb(80, 80, 80) 100%, rgba(80, 80, 80, 0) 100%);
    background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(0, 0, 0) 0%, rgb(80, 80, 80) 100%, rgba(80, 80, 80, 0) 100%);
    background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 0%, rgb(0, 0, 0) 100%, rgba(80, 80, 80, 0) 100%);
    background: linear-gradient(#414141 0%, #000 100%);
    z-index: 5;
}

.timeline li {
    padding: 0.5em 0;
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
}

.direction-r {
    position: relative;
    width: 300px;
    float: right;
}

.flag-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 20px;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(248, 248, 248);
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 600;
    text-align: left;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -35px;
    content: ' ';
    display: block;
    width: 30px;
    height: 1px;
    margin-top: -10px;
    background: #0b0b0b;
    border-radius: 10px;
    border: 4px solid rgb(21, 21, 21);
    z-index: 10;
}

.direction-r .flag:before {
    left: -40px;
}

.direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
}

.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: inline;
    line-height: 1em;
    font-size: 0.66666em;
    color: rgb(250, 80, 80);
    vertical-align: middle;
}

.direction-l .time-wrapper {
    float: left;
}

.direction-r .time-wrapper {
    float: right;
}

.time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248, 248, 248);
}

.desc {
    margin: 1em 0.75em 0 0;
    font-size: 10px;
    font-style: italic;
    line-height: 1.5em;
}

.direction-r .desc {
    margin: 1em 0 0 0.75em;
}


/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 700px) {
    .fli {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        padding-bottom: 20px;
        letter-spacing: 1px;
        padding-top: 20px;
    }
    #footer {
        height: 800px;
        padding-top: 50px;
        font-family: 'Open Sans', sans-serif;
    }
    #t {
        text-align: center;
        font-size: 35px;
    }
    #imp {
        font-size: 20px;
    }
    .timeline {
        width: 100%;
        padding: 4em 0 1em 0;
    }
    .timeline li {
        padding: 2em 0;
    }
    .direction-l,
    .direction-r {
        float: none;
        width: 100%;
        text-align: center;
    }
    .flag-wrapper {
        text-align: center;
    }
    .flag {
        background: rgb(255, 255, 255);
        z-index: 15;
    }
    .direction-l .flag:before,
    .direction-r .flag:before {
        position: absolute;
        top: -30px;
        left: 50%;
        content: ' ';
        display: block;
        width: 12px;
        height: 12px;
        margin-left: -9px;
        background: #ffffff;
        border-radius: 10px;
        border: 4px solid rgb(3, 3, 3);
        z-index: 10;
    }
    .direction-l .flag:after,
    .direction-r .flag:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: rgb(255, 255, 255);
        border-width: 8px;
        pointer-events: none;
    }
    .time-wrapper {
        display: block;
        position: relative;
        margin: 4px 0 0 0;
        z-index: 14;
    }
    .direction-l .time-wrapper {
        float: none;
    }
    .direction-r .time-wrapper {
        float: none;
    }
    .desc {
        position: relative;
        margin: 1em 0 0 0;
        padding: 1em;
        background: rgb(245, 245, 245);
        -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
        -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
        z-index: 15;
    }
    .direction-l .desc,
    .direction-r .desc {
        position: relative;
        margin: 1em 1em 0 1em;
        padding: 1em;
        z-index: 15;
    }
}

@media screen and (min-width: 400px ?? max-width: 660px) {
    .direction-l .desc,
    .direction-r .desc {
        margin: 1em 4em 0 4em;
    }
}

.time-head {
    color: rgba(255, 62, 62, 0.9);
    font-family: 'Catamaran', sans-serif;
    letter-spacing: 2px;
}

.con {
    background-image: url("../img/tex.jpg");
    padding: 0px 50px;
}

.bg-img {
    margin: 0;
    background: url("../img/bg-reg.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}

.bg-img1 {
    margin: 0;
    background: url("../img/colck.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}

#story {
/*        margin-left: 500px;*/
}

.padd {
    margin: 0 auto;
    margin-left: -50px;
}

.logo {
    text-align: right;
    max-height: 100px;
    max-width: 100px;
}

@media only screen and (max-width: 550px) {
    .logo {
        text-align: right;
        max-height: 50px;
        max-width: 50px;
    }
}

.roborace {
    left: -10px;
}

@media only screen and (max-width: 775px) {
    .roborace {
        left: 0px;
    }
}

.sec-tex-bg {
    background-image: url(../img/default_wallpaper.png);
}

@media only screen and (max-width: 500px) {
    .dept-head {
        font-size: small;
    }
}

@media only screen and (max-width: 550px) {
    .sairam-logo {
        height: 50%;
        width: 50%;
    }
}

@media only screen and (max-width: 750px) {
    .info h2 {
        font-size: small;
    }
}

.quiz {
    margin-left: -10px;
}

@media only screen and (max-width: 775px) {
    .jam {
        left: 0px;
    }
}

.apple {
    max-height: 600px;
    max-width: 600px;
}
